@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

:root {
  --font-family: "Helvetica";

  --clr-accent-50: #fdf3f4;
  --clr-accent-100: #fbe8e9;
  --clr-accent-200: #f7d4d8;
  --clr-accent-300: #f1b4bb;
  /* ↑↑↑ Chosen color */
  --clr-accent-400: #e78592;
  --clr-accent-500: #da596e;
  --clr-accent-600: #c53957;
  --clr-accent-700: #a62a47;
  --clr-accent-800: #8b2641;
  --clr-accent-900: #77243c;
  --clr-accent-950: #420f1d;

  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #ddeffc;
  --clr-primary-200: #c2e4fb;
  --clr-primary-300: #99d3f7;
  --clr-primary-400: #68bbf2;
  --clr-primary-500: #459dec;
  --clr-primary-600: #3081e0;
  --clr-primary-700: #276cce;
  --clr-primary-800: #2657a7;
  --clr-primary-900: #1f4172;
  /* ↑↑↑ Chosen color */
  --clr-primary-950: #1a2f51;


  --clr-neutral-900: var(--clr-primary-950);
  --clr-neutral-50: #fdf0f0;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
}


@media (max-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Tap colors */
* {
  -webkit-tap-highlight-color: rgba(188, 143, 143, .3);
  /* Elimina el efecto */
  /* -webkit-touch-callout: none; Evita el menú emergente en iOS */
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-primary-700 {
  color: var(--clr-primary-700);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-50);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-50);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.daruma-regular {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
}

.daruma {
  font-family: "Darumadrop One", serif;

}

/* General Styling */
body {
  font-size: var(--fs-body);
  font-family: var(--font-family);
  color: var(--clr-primary-900);
  background-color: var(--clr-neutral-50);
}

.button {

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  border: var(--clr-accent-500) solid 2px;

  padding: .75rem 2rem;
  max-width: fit-content;

  line-height: 1.5rem;
  font-weight: 500;
  color: var(--clr-neutral-50);
  background-color: var(--clr-accent-500);

  cursor: pointer;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 500ms;

  &:hover {
    background-color: var(--clr-accent-600);
    border-color: var(--clr-accent-600);
  }

  &:focus {
    box-shadow: var(--clr-neutral-50) 0px 0px 0px 1px, var(--clr-neutral-900) 0px 0px 0px 3px;
  }

  &:disabled {
    color: var(--clr-accent-400);
    background-color: var(--clr-accent-100);
  }

  &:active {
    background-color: var(--clr-accent-700);
  }
}

@media (max-width: 990px) {
  .button {
    padding: 1.05rem 2.25rem;
  }
}

.accent-light {
  background-color: var(--clr-accent-200);
  color: var(--clr-accent-950);

  border-color: var(--clr-accent-200);

  &:hover {
    background-color: var(--clr-accent-300);
    border-color: var(--clr-accent-300);

  }

  &:active {
    background-color: var(--clr-accent-400);
    border-color: var(--clr-accent-400);

  }

  &:disabled {
    background-color: var(--clr-accent-100);
    border-color: var(--clr-accent-100);

    color: var(--clr-accent-400);
  }
}