---
import Layout from "@/layouts/Layout.astro";

const data = {
  legal_name: "Yano Moka",
  addres: "We will disclose without delay if requested",
  phone: "We will disclose without delay if requested",
  email: "kamonoya@gmail.com",
  head_operations: "Yano Moka",
  additional_fees: "A flat-rate shipping costs: ¥1000 per box",
  returns:
    "＜Returns and exchanges requested by customers＞\nItems before shipping: You can cancel your order by pressing the cancel button on the website.\nItems after shipping: Unopened items can be refunded or exchanged for items of equal or lesser value only if you contact the customer support center (kamonoya@gmail.com) within 10 days of the arrival of the item. We do not accept returns or exchanges of items after opening.\n\n＜Returns and exchanges for defective goods and services＞\nPlease contact the customer support center (kamonoya@gmail.com). We will refund or exchange with new products at our shipping cost.",
  delivery_times:
    "Orders will be processed within 3-5 business days. Domestic shipments are expected to arrive within 7 days, while international shipments may take up to 3 weeks.",
  payment_methods: "Credit cards or via local bank transfer",
  payment_period:
    "Credit card payments are processed immediately, while local bank transfers must be sent within 3 days of the date of order.",
  price: "Amounts listed on each product page",
};

const dataKeys = Object.entries(data);
export const prerender = true;
---

<Layout>
  <main class="container">
    <section>
      <h1 class="fs-800 text-primary-500">Commerce Disclosure</h1>
      <h3 class="fs-300">Last updated: February 1, 2025</h3>
      <p>
        This notation is based on the Specified Commercial Transaction Law of
        Japan
      </p>
      <p>
        By using our website or purchasing our products and services, you
        acknowledge and agree the following:
      </p>
    </section>
    <table class="content-table">
      <tbody>
        {
          Object.entries(data).map(([key, value]) => {
            key = key[0].toUpperCase() + key.substring(1);
            return (
              <tr>
                <td class="heading">{key.split("_").join(" ")}</td>
                <td class="value">
                  <p>{value}</p>
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </main>
</Layout>

<style>
  .container {
    max-width: 750px;
  }
  .content-table {
    border-collapse: collapse;
    margin: 32px auto;
  }

  p {
    margin-inline: auto;
  }

  tr {
    border-bottom: 2px solid var(--clr-primary-400);
    vertical-align: top;
  }

  td {
    padding-block: 0.5rem;
  }

  .heading {
    font-weight: 600;
  }

  .value {
    white-space: pre-line;
    font-weight: 500;
    text-wrap: balance;
    padding-left: 2rem;
  }

  section {
    text-align: center;
    p {
      padding-top: 0.5rem;
    }
  }
</style>
