---
import ProductCard from "@/components/ProductCard.astro";

const { products = [], excludeId = null } = Astro.props;

const filteredProducts = excludeId
  ? products.filter((product) => product.id !== excludeId)
  : products;
---

<section>
  {
    filteredProducts.map((product) => (
      <ProductCard
        id={product.id}
        title={product.name}
        images={product.images}
      />
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    width: 100%;
    margin-inline: auto;
  }

  @media (max-width: 990px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
