<footer>
  <div>
    <ul role="list">
      <li id="brand">&copy; 2024 FootPrint</li>
      <a href="#"><li>Contact Us</li></a>
      <a href="#"><li>Privacy Policy</li></a>
    </ul>
  </div>
</footer>

<style>
  footer {
    container-type: inline-size;
    background-color: var(--color-primary-200);
    height: 150px;
    color: var(--color-surface-100);
    padding: 24px;
    margin-top: auto;
  }

  .div {
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  a,
  li#brand {
    text-decoration: none;
    color: var(--color-surface-600);
  }

  li:hover {
    text-decoration: underline;
  }

  li#brand {
    cursor: default;
  }

  @media (width <= 768px) {
    footer {
      justify-content: center;
      max-width: 100%;
      box-shadow: 0 -2px 20px 1 rgba(255, 255, 255, 0.2);
    }

    ul {
      justify-content: center;
      max-width: 92%;
      margin-inline: auto;
    }
  }
</style>
