<footer>
  <ul role="list">
    <li id="brand">&copy; 2025 FootPrint</li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="/commerce-disclosure">Commerce Disclosure</a></li>
    <li><a href="/cart">Cart</a></li>
  </ul>
</footer>

<style>
  footer {
    container-type: inline-size;
    background-color: var(--clr-neutral-50);
    color: var(--clr-primary-900);
    padding-block: 3rem;
    margin-top: auto;
    margin-inline: auto;
    max-width: 90%;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
  }

  a,
  li#brand {
    text-decoration: none;
  }

  li {
    display: inline;
  }

  li:hover {
    text-decoration: underline;
  }

  li#brand {
    cursor: default;
  }

  @media (width <= 768px) {
    footer {
      justify-content: center;
      max-width: 100%;
      box-shadow: 0 -2px 20px 1 rgba(255, 255, 255, 0.2);
    }

    ul {
      justify-content: center;
      max-width: 92%;
      margin-inline: auto;
    }
  }
</style>
