---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { products } from "@db";
import Catalog from "@/components/Catalog.astro";
import ProductSection from "@/components/ProductSection.astro";

export const getStaticPaths = (() => {
  return products.map((product) => {
    return {
      params: { slug: product.name.toLowerCase().split(" ").join("-") },
      props: { product },
    };
  });
}) satisfies GetStaticPaths;

const { product } = Astro.props;

export const prerender = true;
---

<Layout title={product.name}>
  <ProductSection {product} />
  <h2 class="fs-800 daruma-regular">Related Products</h2>
  <Catalog {products} excludeId={product.id} />
</Layout>
