---
import "../styles/global.css";
import Header from "@/components/Header.svelte";
import Announcement from "@/components/Announcement.svelte";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";

const { title = "Footprint" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <Announcement client:load />
    <Header client:load />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    max-width: 90%;
    margin-inline: auto;
  }
</style>
