---
import Stripe from "stripe";
import type { GetStaticPaths } from "astro";
import { STRIPE_SECRET_KEY } from "astro:env/server";

export const getStaticPaths = (async () => {
  const stripe = new Stripe(STRIPE_SECRET_KEY);
  const products = await stripe.products.list();

  return products.data.map((product) => ({
    params: {
      id: product.id,
    },
    props: { product },
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { product } = Astro.props;

export const prerender = true;
---

<h1>{product.name}</h1>
